body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px; 
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.main-logo {
	width: 140px;
	min-height: 72px;
	display: block;
	margin: 0 auto;
	margin-top: -1px;
}

.main-navigation {
	width: 1200px;
	min-height: 57px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin: 0 auto;
	padding: 0;


	background-color: #ffffff;
}

.site-navigation {
	width: 1200px;
	margin: 0;
	padding: 0;
	min-height: 57px;
	margin-top: -75px;
	display: flex;
	justify-content: space-between;

	list-style: none;
}

.site-navigation a {
	width: 200px;
	display: inline-block;
	color: #000000;
}

.information {
	width: 128px;
	margin-right: 148px;
	margin-left: 71px;
	margin-top: 18px;
}

.map-state {
	width: 88px;
	margin-right: 127px;
	margin-left: -3px;
	margin-top: 18px;
}

.video {
	width: 88px;
	margin-right: 400px;
	margin-top: 18px;
	margin-left: -34px;
}

.type-of-hotel {
	width: 126px;
	margin-right: 43px;
	margin-left: 35px;
	margin-top: 18px;
}

.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2;
}

a:visited.navigation-btn {
	color: #766357;
}

.intro-welcome {
	position: absolute;
	top: 132px;

}

.intro-background {
    width: 1200px;
    min-height: 429px;
	background-image: url("backgroundphoto.jpg");
	background-repeat: no-repeat;
	background-position-y: -56px;
	padding-top: 79px;
}

.intro {
	width: 1200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 46px;
}

.intro-about {
	margin-bottom: 55px;
	text-align: center;
}

.intro-about h1 {
	font-size: 21px;
	line-height: 26px;
}

.intro-about p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.features-item_blue {
	background-color: #81b3d2;
	width: 400px;
	min-height: 256px;
	margin-top: -4px;
	margin-bottom: 8px;
	text-align: center;
	color: #ffffff;
}

.features-list {
	 display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding: 0;
     margin: 0;
     list-style: none;
}

.features {
}

.features-background {
	width: 1200px;
	background-color: #eeeeee;
}

.features-item {
	text-align: center;
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
}

.features-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
}

.search a {
	background-color: #766357;
}

.search a:focus {
	background-color: #604e43;
}

.search a:hover {
	background-color: #604e43;
}

.search a:active {
	background-color: #503e33;
}

.social-list {
	list-style: none;
}

.search h1 {
	font-size: 30px;
	line-height: 36px;

}

p.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-top: -27px;
}

.search-btn {
	display: inline-block;
	width: 300px;
	padding-top:  30px;
	padding-bottom: 30px;
	padding-left:  134px;
	padding-right: 134px;
	margin-top: 15px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;


	border: none;
}

.btn-find {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 195px;
	padding-right: 263px;
	margin-bottom: 55px;
	margin-left: 6px;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

button {
	color: #ffffff;
	background-color: #81b3d2;
}

button:focus.search-btn {
	color: #ffffff;
	background-color: #669ec0;
}

button:hover.search-btn {
	color: #ffffff;
	background-color: #669ec0;
}

button:active.search-btn {
	color: #73a9c9;
	background-color: #5496bd;
}

.search {
	text-align: center;
}

.main-footer {
	background-color: #f9fbf6;
	text-align: center;
}

p.hashtag {
	font-size: 21px;
	line-height: 26px;
}

.created-by {
	display: inline-block;
	margin-left: 100px;
	margin-top: 45px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.filter {
	width: 1200px;
	min-height: 217px;
	background-image: url("filter_background.jpg");
	background-repeat: no-repeat;
}

.filter-type {
	font-size: 16px;
	line-height: 21px;
}

.checkbox-list {
	list-style: none;
}

.checkbox-list {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

p.text-find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

p.text-sort {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-top: 36px;
	margin-left: 50px;
}

.sort {
	display: flex;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	min-height: 87px;
}

.content {
	text-align: center;
}

.sort a {
	color: #b2b2b2;
}

.sort a:hover {
	color: #9fc4db;
}

.sort a:active {
	color: #111111;
}

.sort a:focus {
	color: #81b3d2;
}

h3.name {
	font-size: 21px;
	line-height: 26px;
}

p.type {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

p.cost {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

a.btn-blue {
	color: #ffffff;
	background-color: #81b3d2;
}

a:focus.btn-blue {
	color: #ffffff;
	background-color: #669ec0;
}

a:hover.btn-blue {
	color: #ffffff;
	background-color: #669ec0;
}

a:active.btn-blue {
	color: #88b6d1;
	background-color: #5496bd;
}

a.btn-brown {
	color: #ffffff;
	background-color: #766357;
}

a:focus.btn-brown {
	color: #bfb8b4;
	background-color: #604e43;
}

a:hover.btn-brown {
	color: #bfb8b4;
	background-color: #604e43;
}


a:active.btn-brown {
	color: #857871;
	background-color: #503e33;
}

a.title-hotel {
	color: #000000;
}

a:hover.title-hotel {
	color: #81b3d2;
}

a:active.title-hotel {
	color: #cacaca;
}

.main-header {
	margin-bottom: 0px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.search {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.map-img {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 0 ;
}

.main-footer {
	width: 1200px;
	min-height: 120px;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.hashtag {
	width: 135px;
	margin: 0;
	margin-left: 104px;
	margin-top: 50px;
}

.social-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
	padding:0; 
	margin: 0 auto;
	margin-left: 258px;
	margin-top: 10px;
}

.footer-copyright {
	width: 197px;
	margin: 0;
	margin-left: auto;
}

.features-image {
	width: 800px;
	min-height: 256px;
	margin-top: -4px;
}

.features-image_second {
	width: 800px;
	min-height: 256px;
	margin-top: -9px;
}

.features-item_blue_second {
	margin-top: -9px;
}


.features-caption {
	width: 400px;
	min-height: 256px;
	text-align: center;
}

.features-caption_1 {
	background-image: url("icon-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 52px; 
	width: 400px;
	min-height: 330px;
}

.features-caption_2 {
	background-image: url("icon-3.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 53px; 
    width: 400px;
    min-height: 330px;
}

.features-caption_3 {
	background-image: url("icon-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 48px; 
    width: 400px;
    min-height: 330px;
}

.features-caption_4 {
	width: 400px;
	background-color: #eeeeee;
	margin-top: -8px;
}

.features-caption_5 {
	width: 400px;
    background-color: #eeeeee;
    margin-top: -8px;
}

.features-caption_6 {
	width: 400px;
    background-color: #eeeeee;
    margin-top: -8px;
}

.search-apartment {
	display: flex;
	flex-wrap: wrap;
	width: 477px;
	min-height: 395px;
	position: absolute;
	background-color: #ffffff;
	text-align: center;
	margin-left: 316px;
	padding-left: 49px;
	padding-right: 42px;
}

.arrival {
	width: 344px;
	min-height: 32px;
	margin-left: 17px;
	margin-top: -4px;
}

.departure {
	width: 342px;
	min-height: 34px;
	margin-left: 15px;
	margin-top: -3px;
}

.children {
	width: 114px;
	min-height: 25px;
}

.adults {
	width: 114px;
	min-height: 25px;
	margin-left: 35px;
}

.filter-form {
	display: flex;
	color: #ffffff;
}

.footer-logo {
	width: 115px;
	margin-top: 39px;
	margin-right: 101px;
}

.social-btn {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  min-height: 48px;

  background-color: #81b3d2;
}

.btn-sort {
	display: inline-block;
	margin-left: 40px;
	margin-top: 36px;
}

.btn-sort-up {
	margin-top: 36px;
	margin-left: 400px;
}

.btn-sort-down {
	margin-top: 36px;
	margin-left: 30px;
}

.text-find {
	margin-top: 31px;
}

.text-sort {
	margin-top: 23px;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 453px;
}

.btn-blue {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 17px;
	padding-left: 17px;
}

.btn-brown {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 17px;
	padding-left: 17px;
}

.main-footer_color {
	background-color: #fefefe;
}

.filter-type {
	padding-top: 28px;
}

.map {
	margin-bottom: -8px;
}

.features-item_blue h3 {
	margin-top: 45px;
}

.features-caption_1 h3 {
	margin-top: 153px;
	margin-left: -3px;
	margin-bottom: 24px;
}

.features-caption_2 h3 {
	margin-top: 153px;
	margin-left: -1px;
	margin-bottom: 24px;
}

.features-caption_3 h3 {
	margin-top: 153px;
	margin-left: 1px;
	margin-bottom: 24px;
}

.features-caption_4 h3 {
	width: 190px;
	margin-top: 47px;
	margin-left: 104px;
	margin-bottom: 25px;
}

.features-caption_5 h3 {
	margin-top: 47px;
	width: 170px;
	margin-left: 115px;
	margin-bottom: 25px;
}

.features-caption_6 h3 {
	width: 160px;
	margin-top: 47px;
	margin-left: 120px;
	margin-bottom: 25px;
}
/*
.features-caption_1 p {
	width: 300px;
	margin-left: 49px;
}

.features-caption_2 p {
	width: 300px;
	margin-left: 50px;
}
.features-caption_3 p {
	width: 300px;
	margin-left: 50px;
}

.features-caption_4 p {
	width: 250px;
	margin-left: 75px;
}

.features-caption_5 p {
	width: 270px;
	margin-left: 60px;
}

.features-caption_6 p {
	width: 250px;
	margin-left: 75px;
}*/

.number-block {
}

.features-item_blue p {
	width: 299px;
	margin-left: 44px;
}

.features-item_blue h3 {
	width: 120px;
	margin-left: 140px;
}

.features-item_blue .title-blue {
	width: 151px;
	min-height: 40px;
	margin-left: 125px;
	margin-top: 46px;
}
.children-block {
	margin-left: 74px;
}
p.rate {
    font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.filter-type_str {
	margin-left: 73px;
	margin-bottom: 10px;
}	

.filter-type_house {
	margin-left: 115px;
	margin-bottom: 15px;
}

.filter-type_cost {
	margin-left: 394px;
}

.checkbox-list_str {
	width: 130px;
	margin-left: 35px;
}

.checkbox-list_house {
	width: 130px;
	margin-left: 70px;
}

.checkboxes  {
	margin-bottom: 31px;
}

.range-cost {
	margin-top: 70px;
	margin-left: 400px;
}

.btn-show {
	margin-top: 20px;
	margin-left: 430px;
	padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.amara-image {
	display: flex;
	justify-content: flex-start;
	margin-top: 31px;
	margin-bottom: 31px;
}

.caption-amara-resort {
	display: flex;
	margin-left: 150px;
	margin-top: -153px;
}

.caption-type-and-cost {
	display: flex;
	justify-content: space-between;
	margin-top: -30px;
	margin-left: 150px;

}

.caption-btn {
	display: flex;
	align-items: flex-start;
	margin-top: -5px;
	margin-left: 153px;

}

.cost-cfg {
	margin-right: 825px;
}

.btn-blue-cfg {
margin-right: 6px;
}

.btn-brown-cfg {

}

.rate {
	background-color: #f2f2f2;
	color: #8b8b8b;
	margin-left: 620px;
	margin-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.amara-resort {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.desert-quail {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.villas-at {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.cost {
	color: #5c5c5c;
}

.type {
	color: #5c5c5c;
}

.footer-social {
	display: flex;
	margin-top: 19px;
	margin-left: 30px;

}

.caption-discribe {
	color: #656565;
}

.number-block {
	margin-left: 74px;
	color: #4c4c4c;
}

.number-block_white  {
	margin-top: 26px;
	margin-bottom: 21px;
	margin-left: 50px;
	color: #ddebf3;
}

.caption-discribe_white {
	color: #f7fafc;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:hover path,
.social-btn:focus path {
  fill: #ffffff;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn:active path {
	fill: #88b6d1;
}

.social-btn_tw {
	margin-right: 5px;

}

.social-btn_fb {
	margin-right: 6px;

}

.social-btn_tw {

}

.intro-mask {
	width: 1200px;
	min-height: 60px;
	position: absolute;
	top: 507px;
	background-image: url("intro-mask.svg");
	background-repeat: no-repeat;
}

.intro-discribe {
	width: 445px;
	margin-left: 377px;
	margin-top: 60px;
	margin-bottom: 27px;
}

.search-question {
	margin-top: 51px;
	margin-bottom: 32px;
}

.logo-html:hover,
.logo-html:focus {
  background-color: #ffffff;
}

.logo-html:hover path,
.logo-html:focus path {
  fill: #84b5d3;
}

.logo-html:active {
	background-color: #ffffff;
}

.logo-html:active path {
	fill: #bdbbbc;
}

.sort-svg {
	margin-left: 573px;
	margin-right: 14px;
	margin-top: 41px;
}

.sort-svg_down {
	margin-top: 41px;
}

.sort-svg:hover path,
.sort-svg:focus path {
  fill: #231f20;
}

.sort-svg:active path {
	fill: #81b3d2;
}

.sort-svg_down:hover path,
.sort-svg_down:focus path {
  fill: #231f20;
}

.sort-svg_down:active path {
	fill: #81b3d2;
}

.sort-svg_down:visited path {
	fill: #81b3d2;
}

.star-svg {
	margin-left: 707px;
	margin-top: 21px;
}

.star-svg_desert {
	margin-left: 762px;

}

.star-svg_villas {
	margin-left: 735px;

}

.features-item_blue_second p {
	width: 324px;
	margin-left: 38px;
}

.number-block_white_second {
	margin-left: 38px;
}

.number-block_third  {
	margin: 0;
	margin-bottom: 22px;
}

.number-block_fourth {
	margin: 
	margin-bottom: 22px;

}

.number-block_fifth {
	margin: 0
	margin-bottom: 22px;
}

.caption-discribe_first {
	width: 300px;
	margin-left: 49px;

}

.caption-discribe_second {
	width: 300px;
	margin-left: 50px;

}

.caption-discribe_third {
	width: 300px;
	margin-left: 50px;
}

.caption-discribe_fourth {
	margin-top: 0px;
	width: 250px;
	margin-left: 75px;

}

.caption-discribe_fifth {
	margin-top: 22px;
	width: 270px;
	margin-left: 63px;

}

.caption-discribe_sixth {
	margin-top: 22px;
	width: 250px;
	margin-left: 75px;

}

.arrival-block {
	margin-left: 8px;
	margin-top: 59px;
}

.departure-block {
	margin-top: -1px;
	margin-left: 8px;
}

.adults-block {
	margin-top: 3px;
	margin-left: 5px;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
	position: relative;


  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;


  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.checkbox-off

}

.checkbox-on {

}