body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px; 
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
}

.main-header-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left:-70px

}

.main-navigation {
	width: 1200px;
	min-height: 57px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin: 0 auto;
	padding: 0;


	background-color: #ffffff;
}

.site-navigation {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
	min-height: 57px;
	display: flex;
	justify-content: center;

	list-style: none;
}

.site-navigation-link {
	width: 300px;
	display: inline-block;
	padding: 15px;
	text-align: center;
	box-sizing: content-box;
}


.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2;
}

a:visited.site-navigation-link_visited {
	color: #766357;
}

.intro-welcome {
	position: absolute;
	top: 132px;

}

.intro-background {
    width: 100%;
    min-height: 429px;
	background-image: url("backgroundphoto.jpg");
	background-repeat: no-repeat;
	background-position-y: -56px;
	text-align: center;
	padding-top: 50px;
}

.intro-background::after{
	width: 100%;
	content: url("intro-mask.svg");
}
.intro {
	width: 1200px;
	display: block;
	margin: 0 auto;
	
}

.intro-about {
	min-height: 216px;
	text-align: center;
}

.intro-about h1 {
	font-size: 21px;
	line-height: 26px;
}

.intro-about p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.features-item_blue {
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
}

.features-list {
	 display: flex;
     flex-wrap: wrap;
     padding: 0;
     margin: 0;
     list-style: none;
}

.features-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
}

.features-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
}

.search a {
	background-color: #766357;
}

.search a:focus {
	background-color: #604e43;
}

.search a:hover {
	background-color: #604e43;
}

.search a:active {
	background-color: #503e33;
}

.social-list {
	list-style: none;
}

.search h1 {
	font-size: 30px;
	line-height: 36px;

}

p.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.search-btn {
	display: inline-block;
	width: 300px;
	padding-top:  30px;
	padding-bottom: 30px;
	padding-left:  130px;
	padding-right: 134px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;


	border: none;
}

.btn-find {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 195px;
	padding-right: 263px;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

button {
	color: #ffffff;
	background-color: #81b3d2;
}

button:focus.search-btn {
	color: #ffffff;
	background-color: #669ec0;
}

button:hover.search-btn {
	color: #ffffff;
	background-color: #669ec0;
}

button:active.search-btn {
	color: #73a9c9;
	background-color: #5496bd;
}

.search {
	text-align: center;
}

.main-footer {
	background-color: #f9fbf6;
	text-align: center;
}

p.hashtag {
	font-size: 21px;
	line-height: 26px;
}

.created-by {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.filter {
	width: 1200px;
	min-height: 217px;
	background-image: url("filter_background.jpg");
	background-repeat: no-repeat;
}

.filter-type {
	font-size: 16px;
	line-height: 21px;
}

.checkbox-list {
	list-style: none;
}

.checkbox-list {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

p.text-find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

p.text-sort {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sort {
	display: flex;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	min-height: 87px;
}

.content {
	text-align: center;
}

.sort a {
	color: #b2b2b2;
}

.sort a:hover {
	color: #9fc4db;
}

.sort a:active {
	color: #111111;
}

.sort a:focus {
	color: #81b3d2;
}

h3.name {
	font-size: 21px;
	line-height: 26px;
}

p.type {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

p.cost {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

a.btn-blue {
	color: #ffffff;
	background-color: #81b3d2;
}

a:focus.btn-blue {
	color: #ffffff;
	background-color: #669ec0;
}

a:hover.btn-blue {
	color: #ffffff;
	background-color: #669ec0;
}

a:active.btn-blue {
	color: #88b6d1;
	background-color: #5496bd;
}

a.btn-brown {
	color: #ffffff;
	background-color: #766357;
}

a:focus.btn-brown {
	color: #bfb8b4;
	background-color: #604e43;
}

a:hover.btn-brown {
	color: #bfb8b4;
	background-color: #604e43;
}


a:active.btn-brown {
	color: #857871;
	background-color: #503e33;
}

a.title-hotel {
	color: #000000;
}

a:hover.title-hotel {
	color: #81b3d2;
}

a:active.title-hotel {
	color: #cacaca;
}

.main-header {
	margin-bottom: 0px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.search {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.map-img {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 0 ;
}

.main-footer {
	width: 1200px;
	min-height: 120px;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.hashtag {
	width: 135px;
	align-items: center;
}

.social-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
}

.footer-copyright {
	width: 197px;
	margin: 0;
	margin-left: auto;
}

.features-image {
	width: 800px;
	height: 100%;
}

.search-apartment {
	display: flex;
	flex-wrap: wrap;
	width: 477px;
	min-height: 395px;
	position: absolute;
	right: 35%;
	bottom: -167%;
	background-color: #ffffff;
	text-align: center;
	padding-left: 49px;
	padding-right: 42px;
}

.arrival {
	width: 344px;
	min-height: 32px;
}

.departure {
	width: 342px;
	min-height: 34px;;
}

.children {
	width: 114px;
	min-height: 25px;
}

.adults {
	width: 114px;
	min-height: 25px;
}

.filter-form {
	display: flex;
	color: #ffffff;
}

.footer-logo {
	width: 115px;
}

.social-btn {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  min-height: 48px;

  background-color: #81b3d2;
}

.btn-sort {
	display: inline-block;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 453px;
}

.btn-blue {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 17px;
	padding-left: 17px;
}

.btn-brown {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 17px;
	padding-left: 17px;
}

.main-footer_color {
	background-color: #fefefe;
}

.filter-type {
	padding-top: 28px;
}

p.rate {
    font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.checkbox-list_str {
	width: 130px;
	
}

.checkbox-list_house {
	width: 130px;
	
}

.btn-show {
	
	padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.amara-image {
	display: flex;
	justify-content: flex-start;
	
}

.caption-amara-resort {
	display: flex;

}

.caption-type-and-cost {
	display: flex;
	justify-content: space-between;

}

.caption-btn {
	display: flex;
	align-items: flex-start;
}

.rate {
	background-color: #f2f2f2;
	color: #8b8b8b;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.amara-resort {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.desert-quail {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.villas-at {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	min-height: 151px;
}

.cost {
	color: #5c5c5c;
}

.type {
	color: #5c5c5c;
}

.footer-social {
	display: flex;
	align-items: center;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:hover path,
.social-btn:focus path {
  fill: #ffffff;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn:active path {
	fill: #88b6d1;
}

.intro-mask {
	width: 1200px;
	min-height: 60px;
	position: absolute;
	top: 507px;
	background-image: url("intro-mask.svg");
	background-repeat: no-repeat;
}

.intro-discribe {
	width: 100%;
}

.logo-html:hover,
.logo-html:focus {
  background-color: #ffffff;
}

.logo-html:hover path,
.logo-html:focus path {
  fill: #84b5d3;
}

.logo-html:active {
	background-color: #ffffff;
}

.logo-html:active path {
	fill: #bdbbbc;
}

.sort-svg:hover path,
.sort-svg:focus path {
  fill: #231f20;
}

.sort-svg:active path {
	fill: #81b3d2;
}

.sort-svg_down:hover path,
.sort-svg_down:focus path {
  fill: #231f20;
}

.sort-svg_down:active path {
	fill: #81b3d2;
}

.sort-svg_down:visited path {
	fill: #81b3d2;
}

.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
	position: relative;


  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;


  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.features-content {
	width: 400px;
	padding: 20px;
	box-sizing: border-box;
}

.features-item_g {
	width: 400px;
	min-height: 256px;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	background-color: #eeeeee;
}

.intro-text {
	width: 100%;
}

.features-item_home {
	width: 400px;
	min-height: 330px;
	align-items: center;
	flex-wrap: wrap;
	background-image: url("icon-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 52px; 
	width: 400px;
	min-height: 330px;

}

.features-item_eat {
	width: 400px;
	min-height: 330px;
	align-items: center;
	flex-wrap: wrap;
	background-image: url("icon-3.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 53px; 
    width: 400px;
    min-height: 330px;
}

.features-item_present {
	width: 400px;
	min-height: 330px;
	align-items: center;
	flex-wrap: wrap;
	background-image: url("icon-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 53px; 
    width: 400px;
    min-height: 330px;
}

.features-title {
	margin: 0 auto;
}

.features-text {
	width: 100%;
}

.site-navigation-link_visited {
	width: 300px;
	display: inline-block;
	padding: 15px;
	text-align: center;
	box-sizing: content-box;
}